
<p-table [value]="employeelist">
  <ng-template pTemplate="header">
    <tr>
      <th>شناسه</th>
      <th>نام</th>
      <th>حقوق</th>
      <th>سن</th>
      <th>تصویر</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.profile_image}}</td>
      <td><button pButton label="delete" (click)="deleteEmployee(employee.id)" >Delete</button></td>
    </tr>
  </ng-template>
</p-table>
