<section>
  <header>
    <h2>Add new Employee</h2>

</header>


</section>

<article>
<aside>
 <p> Please fill all required fields</p>
</aside>


</article>

<form>
<div class="ui-g">
  <div class="ui-g-4">
    Employee Name : <input type="text" [(ngModel)]="employee.name" name="name"/>
  </div>
  <div class="ui-g-4">
    Employee lastName : <input type="text" [(ngModel)]="employee.lastname" name="lastname"/>
  </div>
  <div class="ui-g-4">
    Employee Salary : <input type="text" [(ngModel)]="employee.salary" name="salary" />
  </div>
  <div class="ui-g-4">
    Employee Age : <input type="text" [(ngModel)]="employee.age" name="age"/>
  </div>

</div>
<button type="button" pButton (click)="saveEmployee()" label="save">Save</button>

<nav>
  <ul>

      <li><a  routerLink='/show'>Back To Employees</a></li>

  </ul>
</nav>
</form>
